<h2>What’s about diets ?</h2>
                <ul>
                        {{{Vegetarian_true}}}
                        {{{Vegan_true}}}
                        {{{Gluten_true}}}
                        {{{Dairy_true}}}
                </ul>

